<body>
  <% if current_user %>
    Welcome, <%= current_user.email %>. Your username is <%= current_user.username %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
